:root {
  --hero-text: #bdd4de;
  --hero-bg: #2b3a42;
  --main-bg: #efefef;
  --main-text: #3f5765;
  --btn-bg: #ff530d;
  --black: #000000;
  --white: #ffffff;
  --font-size: 1.3rem;
  --mono: Courier, monospace;
  --sans: Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var(--mono);
}

header nav,
main .content {
  max-width: 1200px;
  margin: 0 auto;
}

header,
footer {
  padding: 1rem;
  min-height: 50px;
  width: 100%;
  background-color: var(--hero-bg);
  color: var(--hero-text);
}

footer {
  text-align: center;
  font-size: 1rem;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

header li:hover {
  color: var(--white);
  cursor: pointer;
  text-decoration: underline;
}

main {
  padding: 4rem 1rem 10rem 1rem;
  flex: 1 0 0;
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: var(--sans);
}

.home-main-title {
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.home-main-text {
  flex: 1;
}

.home-main-img {
  flex: 1;
  width: 100%;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-name,
.menu-price {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.menu-description {
  margin-top: 0;
}

.contact-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 400px) {
  header ul {
    flex-flow: row wrap;
    align-items: center;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  .container {
    flex-direction: row;
  }
}
